# Numpy

Speciality of numpy is n-dimensional array i.e ndarray

### What is Numpy?

*    NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.
* NumPy is the fundamental package for scientific computing in Python.
*    NumPy is used for working with arrays.
* It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.


* At the core of the NumPy package, is the ndarray object. This encapsulates n-dimensional arrays of homogeneous data types.

In [ ]:
# Import the numpy module 
# give it a name (aliasing)
import numpy as np

In [ ]:
# Conventional way to create a array
a = np.array([1,2,3,4,5,6,7,9,0])

In [ ]:
# Checking the type
type(a)

In [ ]:
# Printing it 
a

In [ ]:
# Normal Python Sequence >> List
arr = [1,2,3,4,5,6,8,9,0]

In [ ]:
type(arr)

In [ ]:
# Value Accessing by index
print(a[0])

In [ ]:
print(a[5])

# Similar to python list...Then why use arrays?

3 main benefits of numpy array over python list:        
    1.Less memory        
    2.Fast       
    3.Convenient        
Let's have a look at these points

In [ ]:
import sys
print(sys.getsizeof(2))      #------> Data type

In [ ]:
#Less memory
import sys
import time


l = range(1000) #creating a list with range 0-1000 i.e 1000 elements
length_of_list = len(l)
#print(length_of_list) #1000
size_of_one_element = sys.getsizeof(l[5])
total_memory_of_list = length_of_list * size_of_one_element
print("list =", total_memory_of_list)


#array
a=np.arange(1000)
length_of_array = a.size
size_of_each_element = a.itemsize
total_memory_of_array = length_of_array * size_of_each_element
print("array =" ,total_memory_of_array)

In [ ]:
#Fast and Convenient

size = 10000
l1=range(size)
l2 =range(size)

a1 = np.arange(size)
a2 = np.arange(size)

#operation on a python list
start = time.time()
l3 = [(x+y) for x,y in zip(l1,l2)]
print("time take by list = ", (time.time() - start)) #1000 is multiplied to convert seconds into milliseconds

#operation on a numpy array
start = time.time()
a3 = a1+a2
print("time take by array = ", (time.time() - start)) #1000 is multiplied to convert seconds into milliseconds

In [ ]:
# I want element wise addition
l1=[1,2,3,4,5,6]
l2=[2,3,4,5,6,7]

l1+l2

In [ ]:
# Steps to follow to get desire result
l3 = []
for x,y in zip(l1,l2):
    res = x+y
    l3.append(res)
print(l3)

In [ ]:
a=[1,2,3,4]
b=[2,3,4,5]

a*b #not works as the same way as arrays

In [ ]:
#convenient
x = np.array([1,2,3,4,5,6,7])
y = np.array([0,1,2,3,4,5,6])

print(x+y) #try different operations
print(x*y)

In [ ]:
x = np.array([1,2,3,4,5,6,7])
y = np.array([0,1,2,3,4,5,6])

print(x*y)

In [ ]:
x.dot(y)

In [ ]:
print(x.ndim)

In [ ]:
#2-dimensional array
a = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype= np.int16)
print(a.ndim)
print(a)

In [ ]:
a.itemsize #getting the size of each element

In [ ]:
a.dtype #getting the datatype

In [ ]:
a= 10
float(a)

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype = np.float) #typecasting

In [ ]:
a

In [ ]:
# Type casting
b= a.astype(np.int16)
b

In [ ]:
a

In [ ]:
a.itemsize

In [ ]:
a.size

In [ ]:
a.ndim

In [ ]:
a.shape

In [ ]:
a.dtype

In [ ]:
a.itemsize

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype = np.complex) #typecasting
a

## Array creation 
1. Zeros      
2. Ones        
3. Arange       
4. Linspace            
5. Empty          
6. Empty Like          
7. Identity

In [ ]:
#getting an array with all 0 values
zero = np.zeros(3) #single dimension
zero

In [ ]:
zero = np.zeros((3,4)) #double dimension
zero

In [ ]:
#getting an array with all 1 values
one = np.ones(3) #single dimension
print("single dimension:",one)

one1 = np.ones((3,6)) #double dimension
print("double dimension:",one1)

In [ ]:
l=range(5) #a list with elements 0 to 5
l

In [ ]:
arr=np.arange(1,5)
arr

In [ ]:
arr = np.arange(1,11,2) #elements from range 1 to 10 with 2 steps at a time
arr

In [ ]:
arr = np.linspace(1,5,20) #10 numbers generated between 1 and 5, linearly spaced have a fixed number of difference between them)
arr

In [ ]:
arr = np.linspace(1,5,5) 
arr

In [ ]:
#reshape array
arr=np.array([[1,2,3],[4,5,6]])
print(arr)

print(arr.shape)

In [ ]:
arr.reshape(3,2)

In [ ]:
arr1 = arr.reshape(3,2) #3 rows and 2 column
arr1

In [ ]:
arr.reshape(1,6)

In [ ]:
arr.ndim

In [ ]:
arr

In [ ]:
#flatten the array, make it 1 dimensional
arr_flaten=arr.ravel()

In [ ]:
arr_flaten #same n dimensional array,as ravel,rehsape...etc does not touches the original array
#to access these shapes,store them in a new variable

In [ ]:
arr_flaten.ndim

## Some mathematical functions

In [ ]:
arr

In [ ]:
arr.min() #displays the minimum element in the array

In [ ]:
arr.max()#displays the maximum element in the array

In [ ]:
arr.sum() #adds every element together"

In [ ]:
import numpy as np
arr=np.array([[1,2,3],[4,5,6]])
arr

In [ ]:
arr.sum(axis =0) #axis = 0 means sum of each column

In [ ]:
arr.sum(axis =1) #axis = 1 means sum of each row

In [ ]:
np.sqrt(arr) #square root of each element

In [ ]:
arr.mean()

In [ ]:
arr.std()

In [ ]:
arr.var()

In [ ]:
print(np.where(arr>5))

In [ ]:
(np.where(arr>5))

In [ ]:
#Count Non zero
np.count_nonzero(arr)

In [ ]:
import numpy as np
arr1=np.array([[0,2,3],[4,5,6]])
arr1

In [ ]:
np.all(arr1)

# Slicing and indexing

In [ ]:
arr=np.array([1,2,3,4,5,6,7,8,9])
arr

In [ ]:
arr[4]

In [ ]:
arr[0:4] #does not includes the 3rd element

In [ ]:
arr[-1]

In [ ]:
#Double dimension array
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
a

In [ ]:
a[2][1]

In [ ]:
a[2] #a[x,y] x indicates row, y indicates column

In [ ]:
a[1][1]

In [ ]:
a[0:2] #0,1 2 is excluded

In [ ]:
a[2,2] #element in the 1st row and 2nd column

In [ ]:
a[0:2]

In [ ]:
a[0:2,1:2]

In [ ]:
a[-1]

In [ ]:
a[-1,0:2] #getting the elements from the last row, 0,1 column

In [ ]:
a[:,1:3] #getting elemnts from all rows and last 2 columns

# stacking arrays

In [ ]:
a = np.array([[12,12],[13,13],[14,14]])
a

In [ ]:
b=np.array([[1,2],[3,4],[4,5]])
b

In [ ]:
np.vstack((a,b))

In [ ]:
np.hstack((a,b))

# splitting array

In [ ]:
arr = np.arange(0,30)
np.ndim(arr)

In [ ]:
arr = arr.reshape(2,15)
arr

In [ ]:
result = np.hsplit(arr,5) 
result

In [ ]:
result = np.vsplit(arr,2) 
result

In [ ]:
result[0]

# Indexing with boolean function

In [ ]:
arr = np.arange(12).reshape(3,4)
arr

In [ ]:
b=arr>4 #this would create another array, boolean , the elemnts of which will have true if the condition is true, else false
b

In [ ]:
arr[b] #getting all the elements from arr with true on b array

In [ ]:
#this trick is useful when you want to replace it with another number
arr[b]=-1

In [ ]:
arr

# iteration

In [ ]:
arr = np.arange(12).reshape(3,4)
arr

In [ ]:
arr

In [ ]:
for i in arr:
    print(i)

In [ ]:
for i in arr:
    for j in i:
        print(j)

In [ ]:
for rows in arr:
    for cell in rows:
        print(cell)

In [ ]:
for cell in arr.flatten():
    print(cell)

In [ ]:
arr = np.arange(12)
arr

In [ ]:
for i in range(0,12,3): 
    print(arr[i])

In [ ]:
i = 0
while(i<12):
    print(arr[i])
    i = i + 3

# Programs

In [ ]:
arr = [1, 2, 3, 4, 5]
max = arr[0]

for i in range(0, 5):
    if(max < arr[i]):
        max = arr[i]
print("Maximum value of Array: %d" % max)

Reverse array

![Artboard-%E2%80%93-4@2x4.webp](attachment:Artboard-%E2%80%93-4@2x4.webp)

In [ ]:
import numpy as np

def reverseList(A, start, end):
    while start < end:
        A[start], A[end] = A[end], A[start]
        start += 1
        end -= 1

A = np.array([10, 20, 30, 40, 50])
reverseList(A, 0, 4)
print(A)

https://www.geeksforgeeks.org/python-strings/?ref=lbp

In [ ]:
-1 -1

In [ ]:
import numpy as np
arr = np.array([23,45,67,89])
print("Before reversing:",arr)
end = 3

for i in range(0, len(arr)):
    a = arr[i]
    print(a)
    arr[i] = arr[end]
    arr[end] = a
    end = end - 1
    
print("After reversing:", arr)